@media (min-width:320px) and (max-width:599px) {
  .wrapper {
    height: 100%;
    width: 100%;
    /* MOBILE TEST */
  }

  .small-font {
    font-size: .3em;
    vertical-align: top;
    color: inherit;
  }

  .med-font {
    font-size: .8em;
    vertical-align: top;
    color: inherit;
  }

  .header {
    width: 100%;
    height: 6%; 
    text-align: center;
    vertical-align: middle;
    padding: 3% 0% 3% 0%;
  }
  .header, header * {
    color: #F1F6FA;
    background-color: #3B8BBA;
  }
  .header > span {
    width: 100%;
    text-align: center;
    display: block;
  }
  .header input {
    border: 0px;
    border-bottom: 1px solid #F1F6FA;
    background-color: #3B8BBA;
    text-align: center;
    color: #F1F6FA;
  }

  .sub-header {
    margin-top: 2%;
  }
  .sub-header, .sub-header > div {
    width: 100%;
    text-align: left;
    margin-left: 2%;
    color: #B8B8B8;
  }

  .weather-splash {
    width: 100%;
    height: 15%;
    vertical-align: middle;
  }
  .weather-splash #icon{
    color: #FCAC00;
    line-height: 15vh;
    font-size: 6em;
    margin-left: 10%;
    vertical-align: middle;
    height: 100%;
    float: left;
  }
  .weather-splash div {
      line-height: 15vh;
  }
  .weather-splash div:last-child {
    color: #FCAC00;
    margin-left: 2.5%;
    font-size: 2em;
    float: left;
  }

  .degree {
    margin-top: 3%;
    height: 20%;
    line-height: 20vh;
    margin-right: 5%;
    font-size: 7em;
    color: #484848;
    width: 95%;
    text-align: right;
    padding-right: 5%;
  }

  .temps {
    text-align: left;
    float: left;
    position: absolute;
    top: 27%;
    left: 3%;
  }
  .temps > span {
    width: 100%;
    text-align: left;
    display: block;
  }
  .temps > span:nth-child(2) {
    color: white;
    font-size: 0em;
  }
  .temps > span:first-child{
    color: #B83333;
    margin-right: 2%;
  }
  .temps > span:last-child{
    color: #3B81B3;
    margin-left: 2%;
  }

  .main {
    margin: 5%;
    padding: 3%;
  }
  .main::after{
    content: "";
    display: block;
    clear: both;
  }
  .main > div {
    text-align: left;
    width: 40%;
  }
  .main > div:first-child {
    float: left;
    padding-left: 15%;
  }
  .main > div:last-child {
    float: right;
  }
  .main > div > div {
    margin-bottom: 20%;
  }
  .main > div > div:last-child {
    margin-bottom: 0%;
  }
  .main > div > div > span {
    width: 100%;
    display: block;
  }
  .main > div > div > span:nth-child(odd){
  color: #D5D5D5;
  margin-right: 3%;
  }
  .main > div > div > span:nth-child(even){
  color: #888888;
  margin-left: 3%;
  }

  .temp-toggle {
    position: absolute;
    width: 98%;
    margin: 2% 2% 0 0;
    color: #C1C1C1;
    line-height: 17px;
    height: 17px;
    text-align: right;
    vertical-align: middle;
    top: 95%;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    margin: 0 .75% 0 .75%;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #4ABA3B;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #3B8BBA;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #3B8BBA;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13x);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

}